td {
    padding: 0 15px;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAFDFC;
    border-width: 5px;
    width: 7%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
}


body {
    background-color: #567189;
    color: #EAFDFC;
}


.IndexMainHeadingImage {
    border: 3px solid #EAFDFC;
    border-radius: 100%;
}


.SubmitButton {
    height: 30px;
    width: 100px;
    border-radius: 20%;
    background-color: #CFB997;
}
