/* Colors

Background: #567189

Headers: #BDCDD6

Content: whitesmoke

*/

/***************************** Elements *****************************/

td {
    padding: 0 15px;
}


hr {
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    width: 35%;
    margin: 75px auto 75px auto;
}


body {
    background-color: #567189;
    color: whitesmoke;
    padding: 50px;
    text-align: center;
    /* font-family: Helvetica, serif; */
    /* font-family: Verdana, Arial, sans-serif; */
    font-family: 'Merriweather', serif;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: #BDCDD6;
}

h2, h3, h4{
    font-family: 'Merriweather Sans', sans-serif;
    color: #BDCDD6;
}

img {
    color: #BDCDD6;
}


/***************************** Classes *****************************/

.profile-image {
    border: 3px solid;
    border-radius: 100%;
}


.inline-block {
    display: inline-block;
}


.name-block {
    display: inline-block;
    text-align: left;
    position: relative;
    bottom: 25px;
    margin-left: 10px;
}


.header-margin {
    margin-bottom: 0px;
    margin-top: 0px;
}


.skills-table {
    text-align: left;
    margin: 0 auto 0 auto
}

.left-align-header {
    text-align: left;
}


/***************************** ids *****************************/
