/* Colors

Background: #567189

Headers: #BDCDD6

Content: whitesmoke

*/

/***************************** Elements *****************************/

td {
    padding: 0 15px;
}


hr {
    border-style: none;
    border-top-style: solid;
    border-width: 1px;
    width: 35%;
    margin: 100px auto 100px auto;
}


body {
    background-color: #567189;
    color: whitesmoke;
    text-align: center;
    /* font-family: Helvetica, serif; */
    /* font-family: Verdana, Arial, sans-serif; */
    font-family: 'Merriweather', serif;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: #BDCDD6;
    font-size: 3.4rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #BDCDD6;
    font-size: 2rem;
}

h3, h4{
    font-family: 'Montserrat', sans-serif;
    color: #BDCDD6;
}

img {
    color: #BDCDD6;
}


/***************************** Classes *****************************/

.profile-image {
    border: 3px solid;
    border-radius: 100%;
}


.header-container {
    display: inline-block;
    position: relative;
    margin-top: 150px;
}


.name-and-title-block {
    display: inline-block;
    text-align: left;
    position: relative;
    bottom: 50px;
    margin-top: 50px;
    margin-left: 10px;
}


.header-margin {
    margin-bottom: 0px;
    margin-top: 0px;
}


.about-me-blerb {
    min-width: 5%;
    width: 700px;
    max-width: 85%;
    margin: 50px auto 0 auto;
    text-align: Center;
}


.skill-container {
    margin: 100px auto 100px auto;
    min-width: 5%;
    width: 700px;
    max-width: 85%;
    line-height: 2;
}


.dev-icon {
    width: 20%;
    margin-right: 30px;
    float: left;
}


.audio-icon {
    width: 20%;
    float: right;
    margin-left: 30px;
}


.dev-skill {
    text-align: left;
}


.audio-skill {
    text-align: left;
}


.contact-container {
    min-width: 5%;
    width: 700px;
    max-width: 85%;
    margin: 100px auto 100px auto;
}


.contact-header {
    margin-bottom: 75px;
}


.btn {
  background: #9ba9b1;
  background-image: -webkit-linear-gradient(top, #9ba9b1, #9ba9b1);
  background-image: -moz-linear-gradient(top, #9ba9b1, #9ba9b1);
  background-image: -ms-linear-gradient(top, #9ba9b1, #9ba9b1);
  background-image: -o-linear-gradient(top, #9ba9b1, #9ba9b1);
  background-image: linear-gradient(to bottom, #9ba9b1, #9ba9b1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-color: #BDCDD6;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px;
}

.btn:hover {
  background: #BDCDD6;
  background-image: -webkit-linear-gradient(top, #BDCDD6, #BDCDD6);
  background-image: -moz-linear-gradient(top, #BDCDD6, #BDCDD6);
  background-image: -ms-linear-gradient(top, #BDCDD6, #BDCDD6);
  background-image: -o-linear-gradient(top, #BDCDD6, #BDCDD6);
  background-image: linear-gradient(to bottom, #BDCDD6, #BDCDD6);
  text-decoration: none;
}




/***************************** ids *****************************/
